@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@keyframes apparition {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 5px;
  }
}
body {
  margin: auto;
  font-size: 20px;
  color: black;
  background-color: white;
}

main {
  position: relative;
  margin-bottom: 25px;
}

.fa-html5 {
  color: #E44D26;
}

.fa-css3-alt {
  color: #0070BB;
}

.fa-sass {
  color: #CF649A;
}

.fa-js-square {
  color: #F7E018;
}

.fa-database {
  color: #3299DB;
}

.fa-angular {
  color: #DE002D;
}

.fa-java {
  color: red;
}

.fa-react {
  color: #5CCFEE;
}

.fa-laptop-code {
  color: black;
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 60px;
}
.timeline:after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 50%;
  width: 8px;
  background: #64a151;
  border-radius: 3px;
  z-index: 1;
}

.timeline article {
  position: relative;
  background: #64a151;
  width: calc(50% - 40px);
  padding: 15px;
  border-radius: 5px 0px 0px 5px;
}

.timeline article + article {
  margin-top: 20px;
}

.timeline article:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(100% + 26px);
  background: white;
  width: 24px;
  height: 24px;
  border: 6px #64a151 solid;
  border-radius: 50%;
  z-index: 2;
}

.timeline article:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 16px solid #64a151;
  border-bottom: 20px solid transparent;
}

.timeline article:nth-child(even) {
  margin-left: calc(50% + 48px);
  border-radius: 0px 5px 5px 0px;
}

.timeline article:nth-child(even):before {
  left: auto;
  right: calc(100% + 26px);
}

.timeline article:nth-child(even):after {
  left: auto;
  right: 100%;
  border-left: none;
  border-right: 16px solid #64a151;
}

.timeline article ul {
  margin: 0;
  padding: 0;
}

.timeline article li {
  list-style: none;
  padding: 8px 0;
}

.timeline article li:not(:last-child) {
  border-bottom: 1px #288b39 solid;
}

.timeline article li span {
  display: inline-block;
  width: 70px;
  color: #64a151;
}

footer {
  background-color: #64a151;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.mobile_header {
  display: none;
}

header {
  font-family: "Kaisei HarunoUmi", serif;
  background-color: #64a151;
  background-size: cover;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
header a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
header a:hover {
  color: rgb(201, 255, 210);
}
header h1 {
  margin-left: 25px;
  display: block;
  width: 20%;
}
header nav {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  padding-right: 10px;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
header nav .nav_item {
  color: rgb(0, 183, 255);
  padding: 20px;
}

@media (max-width: 1200px) {
  .mobile_header {
    display: flex;
  }
  .desktop_header {
    display: none;
  }
  header .side_nav {
    width: 10%;
  }
  header nav {
    display: block;
    position: relative;
    padding-right: 25px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
    /* Hamburger */
  }
  header nav ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 300px;
    margin-top: 10px;
    background: #64a151;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    display: none;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  header nav ul li {
    padding: 10px 0;
  }
  header nav input {
    display: block;
    width: 40px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
    /* Transform all the slices of hamburger into a crossmark */
    /* Hide the middle one */
    /* Last one should go the other direction */
    /* Make menu appears */
  }
  header nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  header nav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header nav input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  header nav input:checked ~ ul {
    display: block;
  }
  header nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #111827;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  header nav span:first-child {
    transform-origin: 0% 0%;
  }
  header nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
}
.arrow {
  display: block;
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0.5;
  color: white;
}
.arrow:hover {
  opacity: 1;
}

#index {
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-flow: column wrap;
}
#index .presentation {
  padding: 0px 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#index .presentation h2 {
  text-align: center;
  align-self: center;
  width: 40%;
  padding: 0px 20px;
}
#index .presentation .presentation_text {
  padding: 0px 25px;
}
#index .details {
  padding: 25px 20px 0 20px;
}

.section_organisation {
  display: flex;
  flex-flow: column wrap;
  background: white;
}
.section_organisation ul {
  margin: 0;
  list-style: none;
}
.section_organisation a {
  text-decoration: none;
  color: #64a151;
}
.section_organisation h1, .section_organisation h2, .section_organisation h3 {
  text-align: center;
  padding: 20px;
  margin: 0;
}

#competences h3 {
  text-align: left;
}
#competences .skills_div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0px 20px 0px 20px;
  margin: 20px 0px 20px 0px;
}
#competences .soft {
  width: 500px;
  padding: 0 25px;
  margin: 10px 0px 0px 100px;
  border: 1px solid #111827;
  border-radius: 5px;
}
#competences .soft h4 {
  text-align: center;
  color: #64a151;
}

#experiences {
  text-align: center;
  opacity: 0.9;
}

#formation h3 {
  text-align: left;
}
#formation .bloc {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: auto;
}
#formation .bloc .left, #formation .bloc .right {
  padding: 2%;
  width: 45%;
  border: 1px solid white;
  animation: 1.5s linear 0.2s apparition;
  overflow: hidden;
}
#formation ul {
  margin: auto;
}

#projets {
  opacity: 0.9;
}
#projets .projects_div {
  display: flex;
  flex-flow: row wrap;
}
#projets h2 {
  align-self: center;
}
#projets a {
  display: contents;
}
#projets figure {
  width: 40%;
  background-color: #64a151;
  color: black;
  display: flex;
  justify-content: space-between;
}
#projets figure:hover {
  opacity: 0.8;
}
#projets figure img {
  width: 25%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
#projets figure figcaption {
  margin: 0px 15px 15px 15px;
}
#projets figure figcaption i {
  margin-left: 0.3em;
}

#interets {
  text-align: left;
}
#interets div {
  padding-left: 25px;
}
#interets ul {
  margin: 10px 0;
}

#contact {
  opacity: 0.9;
}
#contact .email {
  display: flex;
  border-radius: 10px;
  background-color: white;
  width: 300px;
  height: 150px;
  align-self: center;
}
#contact .email a {
  display: block;
  margin: auto;
}
#contact .localisation {
  margin: 50px auto 0px auto;
  border: 2px solid #64a151;
  display: flex;
  flex-flow: row nowrap;
}
#contact .localisation img {
  width: 100%;
  position: relative;
}
#contact .localisation .card_localisation {
  position: absolute;
  vertical-align: center;
  border: 2px solid #64a151;
  border-radius: 10px;
  background-color: #64a151;
  opacity: 0.9;
  width: 300px;
  height: 150px;
}
#contact .localisation .card_localisation p {
  display: block;
  margin: auto;
}
#contact .reseaux {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  justify-content: space-between;
}
#contact .reseaux .logo_reseau {
  width: 15%;
  padding: 10px 0px 10px 0px;
}

@media (max-width: 900px) {
  #index {
    margin-top: 0;
  }
  #index .presentation {
    flex-direction: column;
  }
  #index .presentation h2 {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */