header {
    font-family: $font;
    background-color: $second_color;
    background-size: cover;
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    a {
        text-decoration: none;
        cursor: pointer;
        color: $text_color;

        &:hover {
            color: rgb(201, 255, 210);
        }
    }

    h1 {
        margin: 0;
        display: block;
        padding: 1%;
        height: 20%;
    }

    nav {
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        padding: 1%;
        height: 20%;

        .nav_item {
            color: rgb(0, 183, 255);
            padding: 20px;
        }
    }

}