.mobile_header {
    display: none;
}

header {
    font-family: $font;
    background-color: $second_color;
    background-size: cover;
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;

    a {
        text-decoration: none;
        cursor: pointer;
        color: $text_color;

        &:hover {
            color: rgb(201, 255, 210);
        }
    }

    h1 {
        margin-left: 25px;
        display: block;
        width: 20%;
    }

    nav {
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        padding-right: 10px;

        ul {
            @include reset-list;
            display: flex;
            flex-direction: row;
        }

        .nav_item {
            color: rgb(0, 183, 255);
            padding: 20px;
        }
    }
}

@media (max-width: 1200px) {
    .mobile_header {
        display: flex;
    }

    .desktop_header {
        display: none;
    }
    
    header {
        .side_nav {
            width: 10%;
        }

        nav {
          display: block;
          position: relative;
          padding-right: 25px;
          
          z-index: 1;
          
          -webkit-user-select: none;
          user-select: none;

            ul {
                flex-direction: column;

                position: absolute;
                right: 0;
                width: 300px;
                margin-top: 10px;
                
                background: $second_color;
                list-style-type: none;
                -webkit-font-smoothing: antialiased;
                /* to stop flickering of text in safari */
                
                display: none;
                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

                li {
                    padding: 10px 0;
                }
            }

            input {
                display: block;
                width: 40px;
                height: 25px;
                position: absolute;
                
                cursor: pointer;
                
                opacity: 0; /* hide this */
                z-index: 2; /* and place it over the hamburger */
                
                -webkit-touch-callout: none;

                /* Transform all the slices of hamburger into a crossmark */
                &:checked ~ span {
                    opacity: 1;
                    transform: rotate(45deg) translate(-2px, -1px);
                    background: #232323;
                }
                
                /* Hide the middle one */
                &:checked ~ span:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
                
                /* Last one should go the other direction */
                &:checked ~ span:nth-last-child(2) {
                    transform: rotate(-45deg) translate(0, -1px);
                }
                
                /* Make menu appears */
                &:checked ~ ul {
                    display: block;
                }
            }
          
            /* Hamburger */
            span {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                
                background: $first_color;
                border-radius: 3px;
                
                z-index: 1;
                
                transform-origin: 4px 0px;
                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;

                &:first-child {
                    transform-origin: 0% 0%;
                }
            
                &:nth-last-child(2) {
                    transform-origin: 0% 100%;
                }
            }
        }
    }
}