.fa-html5 {
    color: #E44D26;
}

.fa-css3-alt {
    color: #0070BB;
}

.fa-sass {
    color: #CF649A;
}

.fa-js-square {
    color: #F7E018;
}

.fa-database {
    color: #3299DB;
}

.fa-angular {
    color: #DE002D;
}

.fa-java {
    color: red;
}

.fa-react {
    color: #5CCFEE;
}

.fa-laptop-code {
    color: black;
}