#formation {

    h3 {
        text-align: left;
    }

    .bloc {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .left, .right {
            padding: 2%;
            width: 45%;
            border: 1px solid white;
            animation: 1.5s linear 0.2s apparition;
            overflow: hidden;
            text-align: left;

            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: center;
            }

            img {
                width: 100px;
            }
        }
    }

    ul {
        margin: auto;
    }
}

@media (max-width: 750px) {
    #formation {
        h3 {
            padding: 20px 0 20px 50px;
        }
        .bloc {
            flex-flow: column;
            align-items: center;

            .left, .right {
                width: 80%;
            }
        }
    }
}