#index {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-flow: column wrap;
    
        .presentation {
            padding: 0px 25px;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;

            .presentation_title {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                align-content: center;

                h2 {
                    text-align: center;
                    align-self: center;
                    width: 100%;
                    padding: 0px 20px;
                    color: green;
                }

                img {
                    width: 350px;
                    border-radius: 20px;
                    max-height: 200px;
                    object-fit: cover;
                }
            }

            .presentation_text {
                padding: 0px 25px;
                align-self: center;
            }
        }

        .details {
            padding: 25px 20px 0 20px;
        }
}

@media (max-width: 900px) {
    #index {
        margin-top: 0;        

        .presentation {
            flex-direction: column;

            .presentation_title {
                h2 {
                    width: 100%;
                }
    
                img {
                    width: 60%;
                }
            }
        }
    }
}

