#index {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-flow: column wrap;
    
        .presentation {
            padding: 0px 25px;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;

            h2 {
                text-align: center;
                align-self: center;
                width: 40%;
                padding: 0px 20px;
            }

            .presentation_text {
                padding: 0px 25px;
            }
        }

        .details {
            padding: 25px 20px 0 20px;
        }
}

@media (max-width: 900px) {
    #index {
        margin-top: 0;        

        .presentation {
            flex-direction: column;

            h2 {
                width: 100%;
            }
        }
    }
}

