.arrow {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0.5;
    color: white;

      &:hover {
          opacity: 1;
      }
}

#index {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-flow: column wrap;
    
        .presentation {
            align-self: center;
            padding: 0px 25px;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;

            h2 {
                text-align: center;
                align-self: center;
                width: 40%;
                padding: 0px 20px;
            }

            .presentation_text {
                padding: 0px 25px;
            }
        }

        .details {
            padding: 25px 20px 0 20px;
        }
}

.section_organisation {
    display: flex;
    flex-flow: column wrap;
    background: $background;

    ul {
        margin: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $second_color;
    }

    h1, h2, h3 {
        text-align: center;
        padding: 20px;
        margin: 0;
    }

}

#competences {

    h3 {
        text-align: left;
    }

    .skills_div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 0px 20px 0px 20px;
        margin: 20px 0px 20px 0px;
    }

    .soft {
        width: 500px;
        padding: 0 25px;
        margin: 10px 0px 0px 100px;
        border: 1px solid $first_color;
        border-radius: 5px;

        h4 {
            text-align: center;
            color: $second_color;
        }
    }
}

#experiences {
    text-align: center;
    opacity: 0.9;
}

#formation {

    h3 {
        text-align: left;
    }

    .bloc {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: auto;

        .left, .right {
            padding: 2%;
            width: 45%;
            border: 1px solid white;
            animation: 1.5s linear 0.2s apparition;
            overflow: hidden;
        }
    }

    ul {
        margin: auto;
    }
}

#projets {
    opacity: 0.9;

    .projects_div {
        display: flex;
        flex-flow: row wrap;
    }

    h2 {
        align-self: center;
    }

    a {
        display: contents;
    }

    figure {
        width: 40%;
        background-color: $second_color;
        color: $text_color;
        display: flex;
        justify-content: space-between;

        &:hover {
            opacity: 0.8;
        }

        img {
            width: 25%;
            height: 200px;
            object-fit: contain;
        }

        figcaption {
            margin: 0px 15px 15px 15px;

                i {
                    margin-left: 0.3em;
                }
        }
    }
}

#interets {
    text-align: left;

    div {
        padding-left: 25px;
    }

    ul {
      margin: 10px 0;
    }
}

#contact {
    opacity: 0.9;

    .email {
        display: flex;
        // border: 2px solid $second_color;
        border-radius: 10px;
        background-color: $background;
        width: 300px;
        height: 150px;
        align-self: center;

            a {
                display: block;
                margin: auto;
            }
    }

    .localisation {
        margin: 50px auto 0px auto;
        border: 2px solid $second_color;
        display: flex;
        flex-flow: row nowrap;

            img {
                width: 100%;
                position: relative;
            }

            .card_localisation {
                position: absolute;
                vertical-align: center;
                border: 2px solid $second_color;
                border-radius: 10px;
                background-color: $second_color;
                opacity: 0.9;
                width: 300px;
                height: 150px;

                p {
                    display: block;
                    margin: auto;
                }
            }
    }

    .reseaux {
        display: flex;
        flex-flow: row nowrap;
        margin: auto;
        justify-content: space-between;

        .logo_reseau {
            width: 15%;
            padding: 10px 0px 10px 0px;
        }
    }

}

@media (min-width: 801px) and (max-width: 1950px) {

}

@media (min-width: 501px) and (max-width: 800px) {

}

@media (max-width: 500px) {
    #index {
        margin-top: 0;        

        .presentation {
            flex-direction: column;

            h2 {
                width: 100%;
            }
        }
    }
}