#interets {
    text-align: left;

    div {
        padding-left: 25px;
    }

    ul {
      margin: 10px 0;
    }
}

@media (max-width: 750px) {
  #interets {
    ul, div {
      width: 90%;
    }
  }
}