#projects {
    opacity: 0.9;

    .projects_div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    h2 {
        align-self: center;
    }

    a {
        display: contents;
    }

    figure {
        width: 40%;
        background-color: $second_color;
        color: $text_color;
        display: flex;
        justify-content: space-between;

        &:hover {
            opacity: 0.8;
        }

        img {
            width: 25%;
            height: 200px;
            object-fit: contain;
        }

        figcaption {
            margin: 0px 15px 15px 15px;

                i {
                    margin: 0.3em;
                }
        }
    }
}

@media (max-width: 800px) {
    #projects {
        figure {
            width: 100%;
        }
    }
}

@media (max-width: 400px) {
    #projects {
        figure {
            figcaption {
                    i {
                        margin: 0.3em;
                    }
            }
        }
    }
}