@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

$first_color: #111827;
$second_color: #64a151;
$background: white;
$darkest: #0C121D;
$stat_color: #1be4e4;

$text_color: black;
$text_test: #694142;

$font: 'Kaisei HarunoUmi', serif;

$font-family: 'IBM Plex Mono';