@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

$first_color: #111827;
$second_color: #64a151;
$background: white;
$darkest: #0C121D;
$stat_color: #1be4e4;
$degrade_color: linear-gradient(#13181d, #0d1f02, #0f4120);

$text_color: black;
$text_test: #694142;

$font: 'Kaisei HarunoUmi', serif;

$font-family: 'IBM Plex Mono';

$main-color: #080E0C;
$text-color: #D6FFF5;
$secondary-main-color: #040707;
$secondary-text-color: #F9F8F8;
$tertiary-color: #1E8258;
$important-text: #62D891;